<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>To-do List</title>
</head>
<body>
    

    <main>

        <div class="container">
            <div class="banner"></div>
            <div class="arch arch-1"></div>
            <div class="arch arch-2"></div>
            <div class="arch arch-3"></div>
            <div class="text"><a class="text" style="text-decoration: none;" href="/">To-Do List</a></div>
            <div class="list list-1"><a style="text-decoration: none;" href="/list-1">Home</a></div>
            <div class="list list-2"><a style="text-decoration: none;" href="/list-2">Work</a></div>

        </div>